
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header {
    width: 100%;
    min-height: calc(100vh - var(--nav-h));
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.8;

}



