
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header {
    width: 100%;
    min-height: calc(100vh - var(--nav-h));
    background: #0b0b0b;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    line-height: 1.8;

}



