.profile {
  min-height: calc(100vh - var(--nav-h));
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 36px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 800px;
  max-width: 100%;
  height: auto;
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}

.list{
  width: 60%;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 50px;
}

.profile h2 {
  margin: 40px;
  font-size: 36px;
  font-weight: 600;
}

.inner h3 {
  margin: 50px;
  font-size: 28px;
}

.listItem {
  border-bottom: 1px solid #e0e0e0;
  font-size: 20px;
  padding: 5px 0px 5px;
}

.listItem:last-child {
  border-bottom: none;
}

@media (max-width: 768px) {
  .profile {
    max-width: 90%;
    
  }
}