.wrapper {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
}



h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 40px;
    font-weight: 600;
}


.movie_select {
   width: 240px;
  background: #fcfcfd;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.95rem;
  line-height: 1.25;
  color: #1f1f1f;
  font-weight: 600;
}

.review_div a {
    text-decoration: none;
    color: black;
   
}

.hashLink {
    font-weight: 600;
}

.review_div {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
}

.review_ul {
    list-style: none;
}

.review_text {
    border-left: 1px solid black;
    margin-left: 1em;
    padding-left: 1em;
}

.movie_select {
    margin: 1em;
}